<nav class="main-nav">
    <div class="container">
        <ul class="nav-list">
            <li><a href="/">Inicio</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/cart">Ver Carrito 🛒<span id="cart-count">0</span></a></li>
            {{#if user}}
                <li><span class="welcome-msg">Bienvenido, {{user.name}}</span></li>
                {{#ifEquals user.role "premium"}}
                    <li><a href="/dashboard">Dashboard</a></li>
                {{/ifEquals}}
                {{#ifEquals user.role "admin"}}
                    <li><a href="/dashboard">Dashboard</a></li>
                {{/ifEquals}}
                <li><a href="/logout" class="btn nav-btn">Cerrar Sesión</a></li>
            {{else}}
                <li><a href="/login" class="btn nav-btn">Iniciar Sesión</a></li>
                <li><a href="/register" class="btn nav-btn">Registrarse</a></li>
            {{/if}}
        </ul>
    </div>
</nav>


<script>
    document.querySelectorAll('.add-to-cart-form').forEach(form => {
    form.addEventListener('submit', async (e) => {
        e.preventDefault();  // Prevenir el comportamiento por defecto del formulario

        const formData = new FormData(form);
        const data = {
            productId: formData.get('productId'),
            quantity: formData.get('quantity')
        };

        const response = await fetch('/cart/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        });

        if (response.ok) {
            const result = await response.json();

            // Mostrar notificación
            const notification = document.getElementById('notification');
            notification.textContent = result.message;
            notification.classList.add('show');

            setTimeout(() => {
                notification.classList.remove('show');
            }, 3000);

            // Animar y actualizar el contador del carrito
            const cartCount = document.getElementById('cart-count');
            cartCount.textContent = result.cart.length;
            cartCount.classList.add('bounce');

            setTimeout(() => {
                cartCount.classList.remove('bounce');
            }, 500);
        } else {
            console.error('Error al agregar al carrito');
        }
    });
});

</script>