<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main class="container">
        <h1>Bienvenido a la Tienda Online</h1>
        <h2>Productos Destacados</h2>
<div class="products">
    
    {{#each products}}
    <div class="product-card">
        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <a href="/cart/add/{{this._id}}" class="btn">Añadir al Carrito</a>
    </div>
    {{/each}}
</div>
    </main>
</body>

</html>
