<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Products</title>
</head>
<body>
    <h1>Lista de Productos (Tiempo Real)</h1>
    <ul>
        {{#each products}}
            <li>{{this.title}} - ${{this.price}}</li>
        {{/each}}
    </ul>

    <form action="/crearProducto" method="POST">
        <input type="text" name="title" placeholder="Título del producto">
        <input type="number" name="price" placeholder="Precio del producto">
        <button type="submit">Crear Producto</button>
    </form>

    {{#if products.length}}
    <form action="/eliminarProducto/{{products.[0].id}}" method="POST">
        <button type="submit">Eliminar Primer Producto</button>
    </form>
    {{/if}}
</body>
</html>
