<%- include('layouts/main', { title: 'Cart', user: user, body: `
  <h2>Your Cart</h2>
  <ul>
    <% cart.products.forEach(product => { %>
      <li><%= product.name %> - <%= product.quantity %></li>
    <% }) %>
  </ul>
  <form action="/cart/checkout" method="post">
    <button type="submit">Checkout</button>
  </form>
` }) %>
